.checkout-form {
  width: 100%;
  max-width: calc(100% - 445px);

  @media(max-width: 1440px) {
    max-width: calc(100% - 370px);
  }

  @media(max-width: 1199px) {
    max-width: calc(100% - 340px);
  }

  @media(max-width: 767px) {
    max-width: 100%;
  }

  $root: &;

  &__inner {
    background: #f8f8f8;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 29px 0 $shadow;

    @media(max-width: 767px) {
      padding: 12px;
      border-radius: 7px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 30px -10px;

    @media(max-width: 991px) {
      margin: 0 0 30px 0;
    }
  }

  &__group {
    width: 100%;
    max-width: calc(50% - 20px);
    margin: 0 10px 20px;
    position: relative;

    &--full {
      max-width: calc(100% - 20px);
    }

    @media(max-width: 991px) {
      max-width: 100%;
    }
  }

  &__input {
    color: $primary;
    font-size: 16px;
    background: #f8f8f8;
    border: 2px solid $borderColor;
    border-radius: 10px;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    outline: none;
    transition: all 0.18s linear;

    &--error {
      border-color: $red;
    }

    &::placeholder {
      color: $primary;
    }

    &--textarea {
      height: 140px;
      resize: none;
      padding: 12px 20px;
    }

    @media(max-width: 767px) {
      height: 40px;
      border-width: 1px;
    }
  }

  &__error {
    color: $red;
    font-size: 13px;
    line-height: 21px;
    font-weight: 500;
    @media(max-width: 767px) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 60px;
    background: $blue;
    border-radius: 7px;
    transition: background .2s ease;

    &:disabled, &[disabled] {
      background: $secondary;
      cursor: not-allowed;
    }
  }

  &__status {
    color: $primary;
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }

}