.mini-cart {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 100;
  background: #fff;
  width: 290px;
  border-radius: 10px;
  box-shadow: 0 10px 29px 0 $shadow;

  &__heading {
    padding: 22px 10px 22px 30px;
    color: $primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    position: relative;
  }

  &__close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: calc(50% - 10px);
  }

  &__close-ico {
    width: 100%;
    height: 100%;
    fill: $red;
  }

  &__body {
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
  }

  &__product-list {
    max-height: calc(100vh - 220px);
    overflow: auto;
  }

  &__product-item {
    padding: 20px 0 20px 30px;
    border-bottom: 1px solid $borderColor;
    display: flex;
    align-items: flex-start;
    position: relative;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__product-image {
    width: 100%;
    max-width: 70px;
    position: relative;
    margin-right: 15px;
    border-radius: 5px;
    overflow: hidden;

    &::after {
      content: "";
      padding-top: 100%;
      display: block;
    }
  }

  &__product-thumb {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
    object-position: center;
  }

  &__product-content {
    width: 100%;
    max-width: calc(100% - 85px);
  }

  &__product-name {
    color: $primary;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
    text-decoration: underline;
  }

  &__product-code {
    color: $primary;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  &__product-price {
    color: $primary;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;

    &--strike {
      color: $brown;
      font-weight: 400;
      text-decoration: line-through;
    }

    &--sale {
      color: $red;
      font-size: 15px;
      font-weight: 700;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__product-remove {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 10px;
    top: 10px;
  }

  &__product-ico {
    width: 100%;
    height: 100%;
    fill: $red;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 15px;
  }

  &__btn {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $blue;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    padding: 12px 20px;

    &--clear {
      background: $red;
    }
  }

}