@import './vars.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$base-font: 'Fira Sans', sans-serif;
$base-font-size: 15px;
$base-color: #898989;
@import 'swiper/swiper.scss';

body {
  font-family: $base-font;
  font-size: $base-font-size;
  min-width: 320px;
  line-height: 1.25;

  &.open-modal {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: color .2s ease;
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

input, optgroup, select, textarea {
  background: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  background: none;
  border: none;
  appearance: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  &:hover{
    cursor: pointer;
  }
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;

  @media(max-width: 1279px) {
    max-width: 1200px;
  }

  @media(max-width: 1199px) {
    max-width: 991px;
  }

  @media(max-width: 991px) {
    max-width: 768px;
  }

  @media(max-width: 767px) {
    max-width: 100%;
    padding: 0 10px;
  }
}

.page {
  background: #fbf8ec;
}

svg {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: -2px;
  transition: fill 0.3s, stroke 0.3s;
}

.icon-react {
  margin-top: 40px;
  fill: #42b983;
}

@import './elements/header.scss';
@import './elements/header-nav.scss';
@import './elements/mini-cart.scss';
@import './elements/mobile-nav.scss';
@import './elements/search-form.scss';
@import './elements/popup.scss';
@import './elements/page.scss';
@import './elements/account.scss';
@import './elements/contact-form.scss';
@import './elements/checkout-form.scss';
@import './elements/advantages.scss';
@import './elements/cart-item.scss';
@import './elements/cart-table.scss';
@import './elements/cart-total.scss';
@import './elements/categories.scss';
@import './elements/category.scss';
@import './elements/filters.scss';
@import './elements/footer.scss';
@import './elements/post.scss';
@import './elements/special.scss';
@import './elements/slider.scss';
@import './elements/filter.scss';
@import './elements/product-amount.scss';
@import './elements/product-slider.scss';
@import './elements/product-item.scss';
@import './elements/product-tab.scss';
@import './elements/product-price.scss';
@import './elements/product-popup.scss';
@import './elements/product-comment.scss';
@import './elements/cart.scss';
@import './elements/product.scss';
@import './elements/promo.scss';
@import './elements/modal.scss';
